<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1</display-name>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.revature.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LandingServlet</display-name>
    <servlet-name>LandingServlet</servlet-name>
    <servlet-class>com.revature.servlet.LandingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandingServlet</servlet-name>
    <url-pattern>/landing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.revature.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolderServlet</display-name>
    <servlet-name>HolderServlet</servlet-name>
    <servlet-class>com.revature.servlet.HolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolderServlet</servlet-name>
    <url-pattern>/holder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoldingReServlet</display-name>
    <servlet-name>HoldingReServlet</servlet-name>
    <servlet-class>com.revature.servlet.HoldingReServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoldingReServlet</servlet-name>
    <url-pattern>/holdingRe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoldAllUsersServlet</display-name>
    <servlet-name>HoldAllUsersServlet</servlet-name>
    <servlet-class>com.revature.servlet.HoldAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoldAllUsersServlet</servlet-name>
    <url-pattern>/allUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoldingAllRequests</display-name>
    <servlet-name>HoldingAllRequests</servlet-name>
    <servlet-class>com.revature.servlet.HoldingAllRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoldingAllRequests</servlet-name>
    <url-pattern>/allRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesServlet</display-name>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployeeServlet</display-name>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlet.NewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <url-pattern>/newbies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllResolvedServlet</display-name>
    <servlet-name>AllResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlet.AllResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllResolvedServlet</servlet-name>
    <url-pattern>/resolved</url-pattern>
  </servlet-mapping>
</web-app>